.video-side-bar {
  position: absolute;
  bottom: 75px;
  right: 12px;
  color: white;
}

.video-side-bar-options {
  padding: 7px 10px;
  text-align: center;
}

.userAvatar {
  border: 1.5px solid white;
}