.container-video {
  color: white;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.video-player {
  height: 100%;
  width: 100%;
  object-fit:cover
}

.video-player::-webkit-media-controls {
  display: none;
}