.video-footer {
  position: relative;
  bottom: 22%;
  margin-left: 30px;
  color: white;
}

.video-footer-text h3,
.video-footer-text p {
  padding-bottom: 20px;
}

.video-footer-music {
  display: flex;
}

.video-footer-music-text {
  width: 75%;
  overflow-x: hidden;
}
.video-footer-music-text p {
  animation: moveTheText 4.5s infinite linear;
}

.video-footer-record {
  animation: spinTheRecord 4s infinite linear;
  position: absolute;
  bottom: 5px;
  right: 20px;
  height: 50px;
  filter: invert(1); /*inverte as cores*/
}

@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTheText {
  0% {
    transform: translateX(100%);
  }
  
  100% {
    transform: translateX(-100%);
  }
}
