html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container-app {
  height: 100vh;
  max-height: 665px;
  width: 80%;
  max-width: 375px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/*esconde a scrollbar no safari, chrome e opera*/
.container-app::-webkit-scrollbar {
  display: none;
}

/* esconde a scrollbar no internet explorer, edge e firefox*/
.container-app {
  -ms-overflow-style: none;
  scrollbar-width: none;
}